---
import ExperienceItem from "./ExperienceItem.astro";
import { TAGS } from "./TechTags.astro";
import { getI18N } from "../i18n";
import { getExperienceImages } from "../utils/imageUtils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

// Static data that doesn't need translation
const EXPERIENCE_STATIC = [
  {
    title: "CTO",
    company: "Block Capital",
    image: "/experience/bc.webp",
    tags: [
      TAGS.REMIX,
      TAGS.REACT,
      TAGS.TAILWIND,
      TAGS.NODEJS,
      TAGS.GCP,
      TAGS.TYPESCRIPT,
      TAGS.POSTGRESQL,
      TAGS.MOBILE,
    ],
    link: "https://app.block-capital.cl",
  },
  {
    title: "Lead Software Engineer",
    company: "Sireg Chile",
    image: "/experience/sireg.webp",
    tags: [
      TAGS.REMIX,
      TAGS.REACT,
      TAGS.TAILWIND,
      TAGS.NODEJS,
      TAGS.GCP,
      TAGS.TYPESCRIPT,
      TAGS.POSTGRESQL,
      TAGS.MOBILE,
    ],
  },
  {
    title: "Full-Stack Developer & Consultant",
    company: "Envision Chile (Microsoft Partner)",
    tags: [
      TAGS.DOTNET,
      TAGS.CSHARP,
      TAGS.SQLSERVER,
      TAGS.REACT,
      TAGS.JAVASCRIPT,
    ],
    link: "https://envision.cl",
  },
  {
    title: "Front-End Lead",
    company: "Price2Be",
    image: "/experience/price2be.webp",
    tags: [
      TAGS.REACT,
      TAGS.TAILWIND,
      TAGS.NODEJS,
      TAGS.PYTHON,
      TAGS.MONGODB,
      TAGS.ML,
      TAGS.PHOTOSHOP,
    ],
    link: "https://price2be.feriadesoftware.cl/",
    github: "https://github.com/NachoLZ/frontend2.0",
  },
];

// Combine static data with translations
const EXPERIENCE = EXPERIENCE_STATIC.map((exp, index) => {
  const images = getExperienceImages(exp.company);
  return {
    ...exp,
    date: i18n.experience.entries[index].date,
    description: i18n.experience.entries[index].description,
    images: images, // Store images for later use
  };
});
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem experience={experience} />
      </li>
    ))
  }
</ol>
